body{
    font-family: sans-serif;
}

.sheet{
    margin:auto;
    max-width:35%;
    min-width:600px;
    border:1px solid;
    border-image: url("images/square.png") 55 55/ 10px / 0.5rem round;
    padding:0 0 1rem 0;
}

header{
    padding:20px;
    height:60px;
}

h1{
    margin-top:-10px;
}

h2{
    margin-top:-10px;
}

table{
    width:95%;
    border-collapse: collapse;/*to transform background colors into one line across the entire width*/
    margin:auto;
    font-size:1.1em;
}

/*sticky header*/
#years{
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background: #12233d;
  color: #fff;
  z-index: 999;
  padding: 0.2rem calc(1.25rem + 0.5px) 0.2rem 0;
  margin: 0;
}

#years span[class] {
    font-weight: bold;
    width: calc(100% - 35.3rem);/*to align with the table's tds*/
    min-width: 4.5rem;
    text-align: right;
  }

/*invisible text, only screen readers will read it*/
.sr-only{
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}

tbody{
    padding:20px;
}

.bold{
    font-weight:bold;
}

.current{
    font-style: italic;
}

.total:hover{
    background-color:#99c9ff ;
}

tr.total {
    border-bottom: 4px double #0a0a23;
    font-weight: bold;
}


.blue-title{
    color:#356eaf;
    font-size:1.5em;
    text-align: left;
    padding:15px 0 15px 0;
}

/*to put it under the th, transformed into block*/
.description{  
  display: block;
  font-weight: normal;
  font-style: italic;
  padding: 0.3rem 0 0.75rem;
  margin-right: -9rem; 
  background-color:white;
  margin-top:3px;  
}

.gray{
    background-image: linear-gradient(rgb(214, 212, 212) 1.5rem, white 1rem);
}

th{
    text-align: left;
}

td{
    text-align: right;
    vertical-align: top;
    padding:2px 6px 0 0;
}

.gray th{
    padding:2px 0px 0px 5px;
}



